<div class="container">	  

	<mat-toolbar  color="primary"> <!-- color="primary"  -->
		<span><a mat-icon-button (click)="sidenav.toggle()" matTooltip="Hlavní nabídka" 
			matTooltipPosition="below" matTooltipShowDelay="1000">
			<mat-icon >menu</mat-icon>
		</a></span>
		<span style="width: 10em"><b style="color: silver">i24</b>: Vhp</span>
		<span>{{templateValues[1]}}</span>
		<span class="fill-remaining-space"></span>
		<span>
		    <a mat-icon-button matTooltip="Vyhledat"
			  matTooltipPosition="below" matTooltipShowDelay="1000">
			<mat-icon>search</mat-icon>
			</a>
		</span>
		<span>
			<mat-menu #appMenu="matMenu" yPosition="below">
			  <button mat-menu-item> Nastavení </button>
			  <button mat-menu-item> Nápověda </button>
			</mat-menu>
		    <a mat-icon-button matTooltip="Nastavení" [matMenuTriggerFor]="appMenu"
			  matTooltipPosition="below" matTooltipShowDelay="1000">
			<mat-icon class="icon-fix">settings</mat-icon>
		</a></span>
		<span><a mat-icon-button>
            <img mat-card-avatar class="mat-user-avatar icon-fix" src="{{ this.gravatar() }}" 
            	matTooltip="{{ userInfo?.name }}" matTooltipPosition="left" matTooltipShowDelay="1000">
        </a></span>
	</mat-toolbar>

	<mat-sidenav-container>

		<mat-sidenav #sidenav mode="side" opened="true" style="width: 16em">
		
		<mat-nav-list>
			<h3 mat-subheader>Actions 1</h3>
			<a mat-list-item [routerLink]="['/customer']">Customers</a>
			<a mat-list-item href="javascript:void(0)">Link 2</a>
			<mat-divider></mat-divider>
			<h3 mat-subheader>Actions 2</h3>
			<a mat-list-item (click)="logout()">Logout</a>
		</mat-nav-list>
		</mat-sidenav>
		
		<div>
			<router-outlet></router-outlet>
		</div>

	</mat-sidenav-container>
</div>